/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Common CSS */

body{
    margin: 0;
    padding: 0;
}
.width-1440{
    max-width: 1440px;
    margin: 0 auto;
}
.primary-bg{
    background-color: rgba(255, 144, 14, 0.1);
}
.display-flex{
    display: flex;
}
.text-center{
    text-align: center;
}
.btn-primary{
    background-color: #FF900E;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: .5rem;
    padding: 20px 25px;
    border: 0;
}
.dark-1{
    color: #131313;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}
.org-color{
    color: #FF900E;
}
main > section{
    margin-top: 120px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 0;
}



/* Navbar CSS */

.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 2.6rem;
    font-weight: 700;
}
.nav-item{
    list-style: none;
    margin-right: 1.875rem;
}
.nav-item:last-child{
    margin-right: 0;
}
.nav-link{
    text-decoration: none;
    color: #424242;
    font-size: 1.125rem;
    font-weight: 500;
}

/* Banner CSS */

.banner{
    padding-bottom: 80px;
}
.banner-content{
    max-width: 785px;
    margin: 0 auto 3.125rem;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}
.banner-desc{
    margin-bottom: 2rem;
}
.banner-image{
    width: 100%;
}

/* Teams CSS */

.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-features{
    margin-left: 130px;
    max-width: 530px;
}
#quick{
    font-weight: 500;
}
.team-feature-desc{
    margin-bottom: 20px;
}

/* Features CSS */

.features{
    gap: 140px;
}
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-card-container{
    margin-top: 50px;
}
.feature-card{
    margin-bottom: 20px;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0 ,0.06);
}
.feature-title{
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: -100px;
    margin-left: -100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}

/* Some Fact CSS */

.some-fact-container{
    max-width: 540px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 60px auto 0;
    justify-items: center;
}
.fact-card{
    border: 1px solid #FF900E;
    width: 200px;
    height: 200px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin: 10px 0 0;
    color: #424242;
}
.fact-name{
    margin: 10px 0 0;
    color: #727272;
    font-size: 1rem;
    font-weight: 600;
}

/* Sponsor CSS */

.sponsors-info{
    max-width: 540px;
    margin: 0 auto 50px;
}
.sponsor-desc{
    margin-top: 30px;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}
.sponsor-companies img{
    filter: grayscale(100%);
}

/* Footer CSS */

.footer{
    margin: 130px auto 0;
    text-align: center;
}
.footer-text{
    font-size: 1.25rem;
    padding-top: 40px;
    padding-bottom: 40px;
}





/* Responsive Media Query */

@media screen and (max-width:576px){
    .navbar, 
    .nav-link,
    .teams,
    .features{
        flex-direction: column;
    }
    .nav-links{
        padding: 0;
    }

    /* Team */

    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .team-features{
        margin-left: 20px;
    }

    /* Some facts */

    .facts-container{
        grid-template-columns: 1fr;
        gap: 24px;
    }
    
    /* Sponsor */

    .sponsor-companies{
        gap: 50px;
        grid-template-columns: repeat(1, 1fr);
    }

    /* Features */

    .feature-image img{
        width: 100%;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    
} 

@media screen and (min-width:577px) and (max-width:992px) {
    .teams,
    .features{
        flex-direction: column;
    }
    .team-features{
        margin-left: 50px;
    }
    .facts-container,
    .sponsor-companies{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    
}